
{% extends 'base.html' %}
{% load static %}



{% block content %}
<h2 class="text-center mt-5 mb-4" style="color:#BC9F8B;">Login your Account</h2>
<div class="container" style="width:30%;">
<form method="POST" >
  {% csrf_token %}


  <div class="mb-3">
    <label class="form-label" style="color:#F8F4E1;">Username</label>
    <input type="text" class="form-control" name="u" placeholder="enter user name">
  </div>

    <div class="mb-3">
    <label class="form-label" style="color:#F8F4E1;">Password</label>
    <input type="password" class="form-control" name="p" placeholder="enter password">
  </div>



  <button type="submit"  class="btn" style="color:#F8F4E1;background-color:#74512D;">Login</button>

</form>

</div>


{% endblock %}

